{% extends "base.html" %}

{% block content %}
    <h1>List of books</h1>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        <li>{{ obj.title }}</li>
        <p>Author:<a href="{% url 'author_detail' pk=book.author.id %}">{{ obj.author }}</a></p>
          <p> Price: {{ obj.price }}</p>
          <p> Rating: {{ obj.rating}} </p><br />
    {% endfor %}
      {% endfor %}
    {% else %}
      <p>Unfortunately, there are no books</p>
    {% endif %}       
{% endblock %}