{% extends "base.html" %}

{% block content %}

<h1>{{ book.title }}</h1>

<p><strong>Author:</strong> <a href="{% url 'author_detail' pk=book.author.id %}">{{ book.author.name }} {{ book.author.surname }}</a></p>
<p><strong>Rating:</strong> {{ book.rating }}</p>
<p><strong>Available:</strong> {{ book.available }}</p>

{% if user.is_authenticated %}
 {% if book.available %}
<p class="price">${{ book.price }}</p>
<form action="{% url "cart_add" book.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" value="Add to cart"><span class="glyphicon glyphicon-plus"></span>Add to cart</button>
</form>
      {% else %}
     Unfortunately, this book is sold
{% endif %}
    {% else %}
    If you want to buy books, please, log in
    {% endif %}
{% endblock %}