{% extends "base.html" %}

{% block content %}
    <h1>List of books</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{% url 'book_detail' pk=book.id %}">{{ book.title }}</a>
          <p>Author:<a href="{% url 'author_detail' pk=book.author.id %}">{{ book.author }}</a></p>
          <p> Price: {{ book.price }}</p>
          <p> Rating: {{ book.rating}} </p>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>Unfortunately, there are no books</p>
    {% endif %}       
{% endblock %}