{% extends "base.html" %}
{% load static %}
{% block title %}
    Cart
{% endblock %}

{% block content %}
    <table class="table_cart">
    <caption>My Cart</caption>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
        {% for item in cart %}
            {% with book=item.book %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                    <td><a href="{% url "cart_remove" book.id%}">Delete</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="2"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
    </table>
<h2>  </h2>
    <button class="button"><a href="{% url "books" %}" class="button light">Continue</a></button>
        <button class="button"><a href="{% url "order_create" %}" class="button">Ordered</a></button>


{% endblock %}