{% extends "base.html" %}
{% load static %}
{% block title %}
    Cart
{% endblock %}
{% block content %}
    <h1>Your cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with book=item.book %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart_remove" book.id%}">Delete</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>

        <ul><a href="{% url "books" %}" class="button light">Continue</a>
        <a href="{% url "order_create" %}" class="button">Ordered</a>
    </ul>


{% endblock %}