{% extends "base.html" %}

{% block content %}

<h1>Order # {{ orderitem.id }}</h1>
<p>Details:</p>
    {{ orderitem.book }}
    {{ orderitem.price }}
    <p>Total cost: {{ orderitem.order.get_total_cost }}</p>
    <h2>Ordered by {{ orderitem.order.first_name }} {{ orderitem.order.last_name }}</h2>
    <p>Email: {{ orderitem.order.email }}</p>
    <p>Address: {{ orderitem.order.address }} | {{ orderitem.order.city }}</p>
    <p>Created: {{ orderitem.order.created }}</p>
    <p>Paid: {{ orderitem.order.paid }}</p>
    <p>Status: {{ orderitem.order.status }}</p>
{% endblock %}